#wrapper{
    display: grid;
    grid-template-columns:repeat(5 ,1fr);
    grid-template-rows: repeat(20, minmax(50px , auto));
    grid-gap: 5px;
}
@media only screen and (max-width:500px){
    #wrapper{
        display: grid;
        grid-template-columns:(1 , 1fr);
        grid-template-rows: repeat(10, minmax(50px , auto));
        grid-gap: 5px;
    }
}
p{
    font-family: 'Goldman', cursive;
}
.head1{
    grid-column: span 5;
    text-align: center;
    color: white;
   background-color: black;
   font-size: small;
   text-shadow: white 0px 20px 20px;;
   font-family: 'Alfa Slab One', cursive;
   font-size: 20px;
}

.menu{
    grid-column: span 5;
    grid-row: 2/2;
    background-color: black;
}
.cover{
    grid-column: span 5;
    grid-row: 3 / 12;
    animation-name: headimg;
    animation-duration: 20s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

@keyframes headimg{
    0%{
        background-image: url(./pics/movies/bad\ boys\ 3\ background.jpg) ;
    }
    25%{
        background-image: url(./pics/movies/creed.jpg);
    }
    50%{
        background-image: url(./pics/movies/friday\ backround.jpg);
    }
    75%{
        background-image: url(./pics/movies/detroit.jpg);
    }
    100%{
        background-image: url(./pics/movies/barbershop.jpg);
    }
}

    .menu ul {
        /* display: inline-block; */
        display: flex;
        justify-content: space-around;
        top: 0px;
        border: black solid 2px;
        padding-left:5px;
        color:white;
        
    }
    .menu ul li{
      transition: 0.5s;
    }

    .menu ul li:hover{
        font-size: 20px;
    }
    .menu li :first-child{
        color: red;
        
        
    }

.bar1{
    grid-column:2/5 ;
    grid-row: 14/14;
    background-color: black;
    color: white;
    border-radius: 50%;
    line-height: 0.42857143;
    text-align: center;
    
}
.movie1{
  grid-column: 2/2;
  grid-row: 15/15;
 border: 2px solid black;
 text-align: center;
 font-weight: bold;
 transition: 1s;

}
.movie1:hover{
    box-shadow: 0px 2px 20px 17px;
}


.movie2{
    grid-column: 3/3;
    grid-row: 15/15;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}
.movie2:hover{
    box-shadow: 0px 2px 20px 17px;
}
   

.movie3{
    grid-column: 4/4;
    grid-row: 15/15;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}
.movie3:hover{
    box-shadow: 0px 2px 20px 17px;
}
.bar2{
    grid-column:2/5 ;
    grid-row: 12/12;
    background-color: black;
    color: white;
    border-radius: 50%;
    line-height: 0.42857143;
    text-align: center;
}
.series1{
    grid-column: 2/2;
    grid-row: 13/13;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    transition: 1s;
}
.series1:hover{
    box-shadow: 0px 2px 20px 17px;
}
.series2{
    grid-column: 3/3;
    grid-row: 13/13;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    transition: 1s;
}
.series2:hover{
    box-shadow: 0px 2px 20px 17px;
}
.series3{
    grid-column: 4/4;
    grid-row: 13/13;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    transition: 1s;
}
.series3:hover{
    box-shadow: 0px 2px 20px 17px;
}
audio{
    grid-row: 15/15;
    grid-column: 3/3;
}
.info{
    grid-row: 17/17;
    grid-column: 1/6;
    background-color: black;
    color: white;
} 
.mail{
    grid-row: 18/18;
    grid-column: 1/1; 
}
.pass{
    grid-row: 19/19;
    grid-column: 1/1;
}
.sub{
    grid-row: 20/20;
    grid-column: 1/1;
}
.copyright{
    grid-row: 18/20;
    grid-column: 5/6;
}
.REGISTER{
    grid-row: 20/20;
    grid-column: 2/2;
    margin-left: -198px;
}